// Colors
$body-text-color: #1D4E69;
$yellow: #FFC20E;
$header-text: #404040;
$dark-text:#555555;
$header-text: #404040;
$btn-border-color: #FFB50E;
$border-color: #BDBDBD;
$footer-bg: #f5f5f5;
$navBg: #050F2C;
$hero-bg: #0E47A1;
$blue-bg: #182359;
// Buttons
$button-default-radius: 2px;
$button-height: auto;
$button-height-lg: 50px;
$button-height-sm: 30px;
//Fonts
$bold-font: 'Montserrat', sans-serif;
$regular-font: 'Montserrat', sans-serif;